

// transition name = fade
.fade-enter-active, .fade-leave-active {
transition: opacity ease .3s;
}
.fade-enter-active{

}
.fade-leave-active{
 position: absolute;
}
.fade-enter, .fade-leave-to{
opacity: 0;
}
